* {
    margin: 0;
    padding: 0;
}

#container {
    text-align: center;
    color: rgb(0, 204, 255);
    font-family: "Century Gothic", "Lucida Console", sans-serif;
}

h1 {
    margin:10px;
}

p {
    padding: 5px;
}
