* {
    margin: 0;
    padding: 0;
    font-family: "Century Gothic", "Lucida Console", sans-serif;
}

#container {
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-flow: row wrap;
    width: 350px;
}

label, input {
    height: 20px;
    width: 48%;
    padding: 2px;
    margin-bottom: 10px;
}

button {
    padding: 3px;
    margin: 0 auto;
}