@using WeddingPlanner.Models
@model IndexValidations

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div id="container">

        <div>
            <h2>Register</h2>
            <form asp-action="register" asp-controller="Home" method="post">
            <partial name="UserPartial" model="Model.User" />
            <button type="submit">Register</button>
            </form>
        </div>

        <div>
            <h2>Login</h2>
            <form asp-action="login" asp-controller="Home" method="post">
            <partial name="LoginPartial" model="Model.LoginUser" />
            <button type="submit">Log In</button>
            </form>
        </div>

    </div>

</body>
</html>