@using WeddingPlanner.Models
@model Wedding

<span asp-validation-for="WedOne"></span>
<label asp-for="WedOne"></label>
<input asp-for="WedOne">
<span asp-validation-for="WedTwo"></span>
<label asp-for="WedTwo"></label>
<input asp-for="WedTwo">
<span asp-validation-for="Date"></span>
<label asp-for="Date"></label>
<input asp-for="Date">
<span asp-validation-for="Address"></span>
<label asp-for="Address"></label>
<input asp-for="Address">