<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey</title>

    <link rel="stylesheet" href="css/style.css">

</head>
<body>

    <form action="result" method="post">
        <label>Your Name: <input type="text" name="Name"></label>

        <label>Dojo Location: <select name="Location">
            <option value="SanJose">San Jose</option>
            <option value="Seattle">Seattle</option>
            <option value="LosAngeles">Los Angeles</option>
            <option value="Boise">Boise</option></select></label>

        <label>Favorite Language: <select name="Language" id="lang">
            <option value="C#">C#</option>
            <option value="Python">Python</option>
            <option value="Java">Java</option>
            <option value="JavaScript">JavaScript</option>
        </select></label>

        <label>Comment (optional): <textarea name="Comment" id="comment"></textarea></label>

        <button type="submit">Submit</button>
    </form>

</body>
</html>