@using DojoSurvey.Models
@model Survey

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey</title>

    <link rel="stylesheet" href="/css/style.css">

</head>
<body>

    <div class="form_results">
    <h1>Submitted Info</h1>
    <div class="results">
            <p>Name: </p><p>@Model.Name</p>
            <p>Dojo Location: </p><p>@Model.Location</p>
            <p>Favorite Language: </p><p>@Model.Language</p>
            <p>Comment: </p><p>@Model.Comment</p>
        </div>
        <a href="/"><button>Go Back</button></a>
    </div>

</body>
</html>