@using DojoSurvey.Models
@model Form

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey</title>

    <link rel="stylesheet" href="/css/style.css">

</head>
<body>

    <div>
    <h1>Submitted Info</h1>
        <p>Name: <span>@Model.Name</span></p>
        <p>Dojo Location: <span>@Model.Location</span></p>
        <p>Favorite Language: <span>@Model.Language</span></p>
        <p>Comment: <span>@Model.Comment</span></p>

        <a href="/"><button>Go Back</button></a>
    </div>

</body>
</html>