* {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 30px auto;
  text-align: center;
}

form {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin: 50px auto;
}

label, input {
  width: 47%;
  margin-top: 3px;
}

span {
  width: 100%
}

button {
  margin: 5px auto 5px 0;
}