* {
    margin: 0;
    padding: 0;
    font-family: "Century Gothic", "Lucida Console", sans-serif;
}

body {
    padding: 25px;
}

span, .activities {
    border: 1px solid black;
    width: 760px;
    padding: 2px;
    overflow: hidden, scroll;
}

.activities {
    overflow: scroll;
    height: 100px;
}

p {
    margin: 5px 0;
    font-size: 13px;
}

.location {
    display: inline-block;
    margin: 20px 15px 20px 0;
    padding: 10px;
    border: 3px solid black;
    width: 150px;
    height: 100px;
    text-align: center;
}

button {
    margin-top: 20px;
    box-shadow: 2px 2px 3px rgb(0, 204, 255);
    background-color: gold;
    border: 2px solid rgb(233, 198, 0);
    border-radius: 2px 3px;
    padding: 2px;
}

.earned {
    color: green;
}

.lost {
    color: red;
}