*{
    margin: 0;
    padding: 0;
}

#container {
    padding: 30px;
    font-family: "Century Gothic", "Lucida Console", sans-serif;
    font-size: 14px;
}

nav {
    text-align: right;
}

h2 {
    margin-bottom: 15px;
}