<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/style2.css' %}" />
		<title>Document</title>
	</head>
	<body>
		<h1>{{book.title}}</h1>
		<p>ID: {{book.id}}</p>
		<p class="notes">Description:</p>
		<p class="notes">{{book.desc}}</p>
		<p>Authors:</p>
		<ul>
			{% for author in book.authors.all %}
			<li>{{author.first_name}} {{author.last_name}}</li>
			{% endfor %}
		</ul>
		<form action="/books_add/" method="post">
			{% csrf_token %}
			<label for="add_auth"></label>
			<select name="authors" id="add_auth" placeholder="-select an author-">
				<option value="" disabled selected>- Select an author -</option>
				{% for author in not_authors %}
				<option value="{{author.id}}">{{author.first_name}} {{author.last_name}}</option>
				{% endfor %}
			</select>
			<button type="submit">Add</button>
		</form>
	</body>
</html>
