@using Crudelicious.Models
@model List<Dish>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <h1>Welcome to CRUDelicious</h1>

    <div class="dishes">
        <div>
            <p>Check out some recent dishes!</p>
            <a href="new">Add a Dish</a>
        </div>
            <ul>
            @foreach (var dish in @Model)
            {
                <li><a href="@dish.DishId">@dish.Name</a> by @dish.Chef</li>
            }
            </ul>
    </div>

</body>
</html>