<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<style>

* {
    margin: 0;
    padding: 0;
    font-family: "Century Gothic", "Lucida Sans", sans-serif;
}

#container {
    padding: 50px;
}

a {
    display: block;
    text-align: right;
}

h1 {
    text-align: center;
    color: green;
}

</style>


</head>
<body>

    <div id="container">

        <a href="logout">Logout</a>

        <h1>Success</h1>

    </div>

</body>
</html>