<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <nav>
        <h1><a href="/">Chefs</a> | Dishes</h1>
        <a href="dishes/new">Add a Dish</a>
    </nav>

    <h2>Yum, take a look at our tasty dishes!</h2>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Chef</th>
                <th>Tastiness</th>
                <th>Calories</th>
            </tr>
        </thead>
        <tbody>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tbody>
    </table>

</body>
</html>